# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# IDEs and editors
.idea/
.vscode/
*.swp

# OS-specific
.DS_Store
Thumbs.db

# Gemini
gemini.md